body {
    color: #222;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 2vw;
}

ol, ul {
    padding-left: 30px;
}

.game {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
}

.game-info {
    /*margin-left: 20px;*/
}

.status {
    margin-bottom: 10px;
}

.board {
    border: 1px solid #222;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 15vw;
    width: 15vw;
}

.square {
    background-color: ghostwhite;
    border: 1px solid #222;
    color: #222;
    font-size: 3vw;
    line-height: 0;
    height: 5vw;
    padding: 0;
    text-align: center;
    width: 5vw;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}
